@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html:-webkit-scrollbar {
  display: none;
}

.customTitleGradient {
  background: linear-gradient(
    to right,
    #0A88FF,
    #990093 10%,
    #CC00C4 40%,
    #0069CC 70%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
