name: Build and Test Android app

on: [ pull_request ]

jobs:
  build:
    name: Build mobile client
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8

      - name: Load secret files
        run: |
          echo "keystore.file=pr.jks" >> ./mobile/signing.properties.prod
          echo "keystore.password=123456" >> ./mobile/signing.properties.prod
          echo "alias.name=pr" >> ./mobile/signing.properties.prod
          echo "alias.password=123456" >> ./mobile/signing.properties.prod

      - name: Build app
        run: ./gradlew assemble

  test:
    name: Test mobile client
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8

      - name: Load secret files
        run: |
          echo "keystore.file=pr.jks" >> ./mobile/signing.properties.prod
          echo "keystore.password=123456" >> ./mobile/signing.properties.prod
          echo "alias.name=pr" >> ./mobile/signing.properties.prod
          echo "alias.password=123456" >> ./mobile/signing.properties.prod

      - name: Build app
        run: ./gradlew testDebugUnitTest
