name: Update timetracking information
on:
    schedule:
      - cron: '0 0 * * 1'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Update time tracking
        run: python3 timetracking/updateTimeTrack.py >> TIMETRACKING.md

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update time tracking informations
