name: Build and Test web app

on: [ pull_request ]

jobs:
  test:
    name: Test web app
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: src

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Load secret files
        run: |
          echo "keystore.file=pr.jks" >> ./mobile/signing.properties.prod
          echo "keystore.password=123456" >> ./mobile/signing.properties.prod
          echo "alias.name=pr" >> ./mobile/signing.properties.prod
          echo "alias.password=123456" >> ./mobile/signing.properties.prod

      - name: Run tests
        env:
          GOOGLE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_GOOGLE_SERVICE_ACCOUNT }}
          GOOGLE_DATABASE_NAME: ${{ secrets.FIREBASE_GOOGLE_DATABASE_NAME }}
          GOOGLE_BUCKET_NAME: ${{ secrets.FIREBASE_GOOGLE_BUCKET_NAME }}
        run: ./gradlew :web:test
